{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "extends" : [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb-base"
  ],
  "rules" : {
    "arrow-body-style" : "error",
    "no-underscore-dangle": "off"
  },
  "globals": {
    "window": false,
    "document": false,
    "grecaptcha": false,
    "fetch": false,
    "IntersectionObserver": false
  }
}