.hamburger {
  &__cross {
    width: 31px;
    height: 4px;
    background-color: $color-white;
    margin: 6px 0;
    display: none;
    position: relative;

    &--one {
      transform: rotate(45deg);
      top: 5px;
    }

    &--two {
      transform: rotate(-45deg);
      top: -5px;
    }
  }

  &__line {
    width: 30px;
    height: 4px;
    background-color: $color-white;
    margin: 6px 0;
  }

  &--is-open {
    .hamburger__line {
      display: none;
    }

    .hamburger__cross {
      display: block;
    }
  }
}
