.cover-image {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include breakpoint(large down) {
    height: 500px;
  }

  &__heading {
    color: white;
    font-size: 60px;
    font-family: $secondary-font-family;
    letter-spacing: 4px;
    margin: 0 0 50px;
  }

  &__paragraph {
    color: white;
    text-align: center;
    font-size: 22px;
    line-height: 28px;
  }

  &__link {
    &,
    &:hover,
    &:focus {
      color: white;
    }
  }
}
