// color name and hue: https://www.color-blindness.com/color-name-hue/

$color-blue: #8ed4e6;
$color-light-yellow: #f2e8e0;
$color-dark-yellow: #edc8a4;
$color-pink: #d1a0a5;
$color-black: #000;
$color-white: #fff;
$color-grey-heather: $color-blue;
$color-grey: #ccc;
